registry=https://registry.npmjs.org/
engine-strict=false
legacy-peer-deps=true
fund=false
audit-level=moderate
progress=false
fetch-timeout=900000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=10
maxsockets=15